<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836911324936-4sjcq1hqmskuospsdc22ddkjl398g821.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836911324936-4sjcq1hqmskuospsdc22ddkjl398g821</string>
	<key>API_KEY</key>
	<string>AIzaSyDA45ehF377IG9jfC6npxkDIggU7I_LzQE</string>
	<key>GCM_SENDER_ID</key>
	<string>836911324936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vybgo</string>
	<key>PROJECT_ID</key>
	<string>vybgo-c2ee0</string>
	<key>STORAGE_BUCKET</key>
	<string>vybgo-c2ee0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836911324936:ios:670e670ff7ad3eb4aa96bd</string>
</dict>
</plist>